/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/* Reset */

/* Body */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: linear-gradient(to right, #A0522D,#AB7B5B)
}
/* Body */
/* Container */
    .container{
        background-color: #fff;
        max-width: 850px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
 }
/* Container */
/* Header */
    .header{
        text-align: center;
        margin-bottom: 24px;
    }

    .header img{
        width: 450px;
        margin: 0 auto;
    }

    .header h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        margin-top: -100px;
    }
    .feature-img{
        margin: 20px 0;
    }
    .feature-img figure img{
        width: 100%;
    }
    figcaption {
        text-align: center;
    }
    
    .historia h2{
        border-left: 2px solid #333;
        padding: 15px;
        margin: 20px auto;
        font-size: 1.5rem;
    }   

    .historia p{
        margin: 20px 0px;
    }

    .citacao {
        background-color: #DEB887;
        border-left: 2px solid #333;
        border-radius: 10px;
        width: 500px;
        padding: 25px;
        margin: 20px auto;
    }

    .citacao blockquote{
        color: #000;
        font-style: italic;
        font-size: 1.0rem;
    }

    .citacao p{
        color: #fff;
        margin-top: 20px;
        font-size: 0.8rem;
        font-style: normal
    }
    
    .curiosidades{
        padding: 20px
    }

    .curiosidades h2{
        padding: 12px;
        margin: 20px auto;
        font-size: 1.5rem;
    }

    .curiosidades ul {
        list-style-type: disc inside;
        padding-left: 20px;
    }

    .curiosidades li{
        margin: 6px 0;
        color: #444;
    }

    footer {
        text-align: center;
        margin-top: 20px;
    }

    footer h2{
        padding: 6px;
        font-size: 1.8rem;
    }
/* Header */
